[idle_timeout]
timeout: 1800

[z_tilt]
#z_positions:
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.

# Zruncho says:
# From CAD, we know that the left-to-right screw-to-screw distance is 215mm.
# Measure the left one in reality, then offset the right one the known amount 215mm).
# Then use the average of those two values for the middle point.
# Adjust anytime you modify the X endstop.
# YES, it makes a significant difference!
# For just this T0: at X=0 position, toolhead edge is 15mm from inner side extrusion edge (7.5mm from centerpoint).
# z_positions:
#     -49, 12
#     166, 12
#     58.5, 135

z_positions:
    -49, 17
    166, 17
    58.5, 140

# GOOD!
# # Points for MadMax Single-head
# points:
#     30, 30
#     90, 30
#     60, 90

#Points for Madmax Double-head
points:
    20, 66
    100, 66
    60, 110

#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
speed: 200

#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#horizontal_move_z: 20
horizontal_move_z: 2

#retries: 0
#   Number of times to retry if the probed points aren't within
#   tolerance.
retries: 5

#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
retry_tolerance: 0.015